@keyframes fade-in-text {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translate();
  }
}
@keyframes fade-in-text2 {
  0% {
    opacity: 0;
    transform: translateX(-75px);
  }
  100% {
    opacity: 1;
    transform: translate();
  }
}
@keyframes fade-in-text3 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate();
  }
}
@keyframes fade-in-image {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translate();
  }
}
@keyframes fade-in-navbar {
  0% {
    opacity: 0;
    transform: translatey(-50px);
  }
  100% {
    opacity: 1;
    transform: translate();
  }
}
@keyframes fade-in-inputfile {
  0% {
    opacity: 0;
    transform: translatey(50px);
  }
  100% {
    opacity: 1;
    transform: translate();
  }
}

body {
  font-family: "Neuropol", sans-serif;
  background-color: black;
  font-size: medium;
  color: white;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  height: auto;
}

.text {
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: bottom;
  animation: fade-in-text 1s 0.3s backwards;
  transition: transform 0.8s;
  /* overflow: scroll; */
}
.text2 {
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: bottom;
  animation: fade-in-text 1s 0.5s backwards;
  transition: transform 0.8s;
  /* overflow: scroll; */
}
.text3 {
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: bottom;
  animation: fade-in-text 1s 0.7s backwards;
  transition: transform 0.8s;
  /* overflow: scroll; */
}
.image {
  height: auto;
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: top;
  animation: fade-in-image 1s 0.3s backwards;
  transition: all 0.8s;
}
.image:hover {
  transform: scale(1.05);
}
.text:hover {
  transform: scale(1.05);
}
.text2:hover {
  transform: scale(1.05);
}
.text3:hover {
  transform: scale(1.05);
}

.navbar {
  animation: fade-in-navbar 1s;
}

.input {
  animation: fade-in-inputfile 1s;
  transition: all 0.8s;
}

.input:hover {
  transform: scale(1.05);
}
