{% extends 'base.html' %} {% block head %}
<title>GenAI Data Science Project</title>
{% endblock %} {% block body %}

<!-- --------------------------------NavBar----------------------------------- -->

<nav class="navbar navbar-expand-lg navbar-dark bg-body-dark">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img
        class="logo"
        src="{{ url_for('static', filename = 'Images/logo-w.png')}}"
        width="70px"
        height="70px"
      />AI Analytics</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- ----------------------------------Text-Left--------------------------------- -->
<div class="container main">
  <div class="align-items-center row">
    <!-- Left Side: 3 Stacked Columns -->
    <div class="col-md-5">
      <div class="left-column column-height mb-3 text">
        At AI Analytics, we harness the power of Large Language Models (LLMs) to
        deliver cutting-edge insights for your business.
      </div>
      <div class="left-column column-height mb-3 text2">
        Our platform transforms raw data into actionable intelligence through
        automated data cleaning, advanced visualizations, and predictive
        analysis. From uncovering hidden patterns to forecasting trends, AI
        Analytics empowers businesses to make informed, data-driven decisions
        with ease.
      </div>
      <div class="left-column column-height text3">
        Discover a smarter way to analyze, visualize, and predict outcomes.
        Experience the future of business intelligence Now.
      </div>
    </div>

    <!-- ----------------------------------Image-Right--------------------------------- -->
    <div class="col-md-7 image">
      <div class="right-column" style="height: 100%">
        <img
          src="{{ url_for('static', filename = 'Images/Designer.jpeg')}}"
          width="100%"
        />
      </div>
    </div>
    <!-- ----------------------------------Input-Bottom--------------------------------- -->
    <div class="footer">
      <br /><br />
      <label class="input form-label" for="customFile">Upload Dataset</label>
      <input type="file" class="input form-control" id="customFile" />
    </div>
  </div>
</div>
{% endblock %}
